StroeMaga0101hostFroms/StoreMaga0101 with host/Account/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:element name="SENDUSERTOSERVER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="falg" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SENDUSERTOSERVERResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Addsupply" type="xs:boolean" />
        <xs:element minOccurs="0" name="UpdSupply" type="xs:boolean" />
        <xs:element minOccurs="0" name="Addoutt" type="xs:boolean" />
        <xs:element minOccurs="0" name="updOut" type="xs:boolean" />
        <xs:element minOccurs="0" name="PrintSupply" type="xs:boolean" />
        <xs:element minOccurs="0" name="PrintOut" type="xs:boolean" />
        <xs:element minOccurs="0" name="PrintQuntity" type="xs:boolean" />
        <xs:element minOccurs="0" name="UpdSupp1" type="xs:boolean" />
        <xs:element minOccurs="0" name="UpdOut1" type="xs:boolean" />
        <xs:element minOccurs="0" name="userAdd" type="xs:boolean" />
        <xs:element minOccurs="0" name="Active" type="xs:boolean" />
        <xs:element minOccurs="0" name="Cate" type="xs:boolean" />
        <xs:element minOccurs="0" name="type1" type="xs:boolean" />
        <xs:element minOccurs="0" name="account" type="xs:boolean" />
        <xs:element minOccurs="0" name="Monay" type="xs:boolean" />
        <xs:element minOccurs="0" name="Place" type="xs:boolean" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpatePasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDUser" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Addsupply" type="xs:boolean" />
        <xs:element minOccurs="0" name="UpdSupply" type="xs:boolean" />
        <xs:element minOccurs="0" name="Addoutt" type="xs:boolean" />
        <xs:element minOccurs="0" name="updOut" type="xs:boolean" />
        <xs:element minOccurs="0" name="PrintSupply" type="xs:boolean" />
        <xs:element minOccurs="0" name="PrintOut" type="xs:boolean" />
        <xs:element minOccurs="0" name="PrintQuntity" type="xs:boolean" />
        <xs:element minOccurs="0" name="UpdSupp1" type="xs:boolean" />
        <xs:element minOccurs="0" name="UpdOut1" type="xs:boolean" />
        <xs:element minOccurs="0" name="userAdd" type="xs:boolean" />
        <xs:element minOccurs="0" name="Active" type="xs:boolean" />
        <xs:element minOccurs="0" name="Cate" type="xs:boolean" />
        <xs:element minOccurs="0" name="type1" type="xs:boolean" />
        <xs:element minOccurs="0" name="account" type="xs:boolean" />
        <xs:element minOccurs="0" name="Monay" type="xs:boolean" />
        <xs:element minOccurs="0" name="Place" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdUsersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetAllUserResult" nillable="true" type="q1:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUs" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetUserResult" nillable="true" type="q2:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetAllAccountResult" nillable="true" type="q3:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAcountnAr">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAcountnArResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetAllAcountnArResult" nillable="true" type="q4:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountNm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iDAccounNm" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="active" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountNmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccountNmResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccountinDetlis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccountinDetlisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAccountinDetlisResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccounthaschalid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccounthaschalidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAccounthaschalidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TypeAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDAccount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TypeAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TypeAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDAccount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCheckAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckAccountHere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDAccount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckAccountHereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCheckAccountHereResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeParent" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAcountNm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcountNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdCOde" type="xs:int" />
        <xs:element minOccurs="0" name="IdParnt" type="xs:int" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Active" type="xs:int" />
        <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAcountNmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewAcountNmResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelteAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelteAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelteAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelteAccount2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDcode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelteAccount2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelteAccount2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAcount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAcountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="SearchAcountResult" nillable="true" type="q5:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETALLAccountPrime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GETALLAccountPrimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GETALLAccountPrimeResult" nillable="true" type="q6:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETALLAccountSub">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GETALLAccountSubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GETALLAccountSubResult" nillable="true" type="q7:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrency">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetAllCurrencyResult" nillable="true" type="q8:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDcode" type="xs:int" />
        <xs:element minOccurs="0" name="IDCurrncy" type="xs:int" />
        <xs:element minOccurs="0" name="NmIDcurrmcy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetBalanceAccountResult" nillable="true" type="q9:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceAccountALLCunncy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDcode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceAccountALLCunncyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetBalanceAccountALLCunncyResult" nillable="true" type="q10:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETNMCurrncy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDCur" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETNMCurrncyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GETNMCurrncyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceALLAccountALLCunncy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcurrncy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceALLAccountALLCunncyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetBalanceALLAccountALLCunncyResult" nillable="true" type="q11:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETNMAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDCOde" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETNMAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GETNMAccountResult" nillable="true" type="q12:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETAccountDitalis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDcode" type="xs:int" />
        <xs:element minOccurs="0" name="IDCurnncy" type="xs:int" />
        <xs:element minOccurs="0" name="d1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="d2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETAccountDitalisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GETAccountDitalisResult" nillable="true" type="q13:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOldMony">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDcode" type="xs:int" />
        <xs:element minOccurs="0" name="IDCurnncy" type="xs:int" />
        <xs:element minOccurs="0" name="d2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOldMonyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getOldMonyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETAcountDitlis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDcode" type="xs:int" />
        <xs:element minOccurs="0" name="IDCurnncy" type="xs:int" />
        <xs:element minOccurs="0" name="d1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="d2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETAcountDitlisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GETAcountDitlisResult" nillable="true" type="q14:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDuser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserNMResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsAsAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsAsAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetGroupsAsAccountsResult" nillable="true" type="q15:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountesMOnayInGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDGroup" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountesMOnayInGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetAccountesMOnayInGroupResult" nillable="true" type="q16:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccontTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDcode" type="xs:int" />
        <xs:element minOccurs="0" name="IDCurrncy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccontTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAccontTotalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Idcode" type="xs:int" />
        <xs:element minOccurs="0" name="IDCur" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBalanceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDCOde" type="xs:int" />
        <xs:element minOccurs="0" name="Mony" type="xs:int" />
        <xs:element minOccurs="0" name="idCurrncy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccountTotalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAccountTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDCOde" type="xs:int" />
        <xs:element minOccurs="0" name="Mony" type="xs:int" />
        <xs:element minOccurs="0" name="idCurrncy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAccountTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewAccountTotalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAccountDetalis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcode" type="xs:int" />
        <xs:element minOccurs="0" name="monay" type="xs:int" />
        <xs:element minOccurs="0" name="idsupply" type="xs:int" />
        <xs:element minOccurs="0" name="idout" type="xs:int" />
        <xs:element minOccurs="0" name="Detalis" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="d1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="idCurrnt" type="xs:int" />
        <xs:element minOccurs="0" name="IDSimple" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAccountDetalisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewAccountDetalisResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSimpleConstraint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDdaan" type="xs:int" />
        <xs:element minOccurs="0" name="IdMAden" type="xs:int" />
        <xs:element minOccurs="0" name="Mony" type="xs:int" />
        <xs:element minOccurs="0" name="idCurnncy" type="xs:int" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
        <xs:element minOccurs="0" name="datetime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSimpleConstraintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSimpleConstraintResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxIDSimpleConstraint">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxIDSimpleConstraintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxIDSimpleConstraintResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSimpleConstraintOneDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="day2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSimpleConstraintOneDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GetAllSimpleConstraintOneDayResult" nillable="true" type="q17:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>