StoreMaga0101 with host/Users/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MYSerivce" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_Iservice_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iservice_SENDUSERTOSERVER_InputMessage">
    <wsdl:part name="parameters" element="tns:SENDUSERTOSERVER" />
  </wsdl:message>
  <wsdl:message name="Iservice_SENDUSERTOSERVER_OutputMessage">
    <wsdl:part name="parameters" element="tns:SENDUSERTOSERVERResponse" />
  </wsdl:message>
  <wsdl:message name="Iservice_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="Iservice_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="Iservice_AddNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUser" />
  </wsdl:message>
  <wsdl:message name="Iservice_AddNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="Iservice_UpatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpatePassword" />
  </wsdl:message>
  <wsdl:message name="Iservice_UpatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="Iservice_UpdUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdUsers" />
  </wsdl:message>
  <wsdl:message name="Iservice_UpdUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdUsersResponse" />
  </wsdl:message>
  <wsdl:message name="Iservice_GetAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUser" />
  </wsdl:message>
  <wsdl:message name="Iservice_GetAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="Iservice_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="Iservice_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:portType name="Iservice">
    <wsdl:operation name="SENDUSERTOSERVER">
      <wsdl:input wsaw:Action="http://tempuri.org/Iservice/SENDUSERTOSERVER" message="tns:Iservice_SENDUSERTOSERVER_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iservice/SENDUSERTOSERVERResponse" message="tns:Iservice_SENDUSERTOSERVER_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Iservice/LoginUser" message="tns:Iservice_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iservice/LoginUserResponse" message="tns:Iservice_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Iservice/AddNewUser" message="tns:Iservice_AddNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iservice/AddNewUserResponse" message="tns:Iservice_AddNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/Iservice/UpatePassword" message="tns:Iservice_UpatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iservice/UpatePasswordResponse" message="tns:Iservice_UpatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/Iservice/UpdUsers" message="tns:Iservice_UpdUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iservice/UpdUsersResponse" message="tns:Iservice_UpdUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Iservice/GetAllUser" message="tns:Iservice_GetAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iservice/GetAllUserResponse" message="tns:Iservice_GetAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Iservice/GetUser" message="tns:Iservice_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iservice/GetUserResponse" message="tns:Iservice_GetUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_Iservice" type="tns:Iservice">
    <wsp:PolicyReference URI="#NetTcpBinding_Iservice_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SENDUSERTOSERVER">
      <soap12:operation soapAction="http://tempuri.org/Iservice/SENDUSERTOSERVER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap12:operation soapAction="http://tempuri.org/Iservice/LoginUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <soap12:operation soapAction="http://tempuri.org/Iservice/AddNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpatePassword">
      <soap12:operation soapAction="http://tempuri.org/Iservice/UpatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdUsers">
      <soap12:operation soapAction="http://tempuri.org/Iservice/UpdUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <soap12:operation soapAction="http://tempuri.org/Iservice/GetAllUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/Iservice/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MYSerivce">
    <wsdl:port name="NetTcpBinding_Iservice" binding="tns:NetTcpBinding_Iservice">
      <soap12:address location="net.tcp://localhost:9002/MyMathService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9002/MyMathService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>